.box {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3), 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.input {
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(255, 255, 255, 0.8);
    font-size: 16px;
    color: #333;
    outline: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(255, 255, 255, 0.8);
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.text-area {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    resize: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(255, 255, 255, 0.8);
}

.black {
    color: black;
}

.center {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    overflow: hidden;
    text-overflow: ellipsis;
}